/* CallToAction.module.css */
.ctaSection {
    background-color: #2B2B2B;
    padding: 50px;
    text-align: center;
    font-family: Helvetica;
  }
  
  .ctaTitle {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
  }
  
  .ctaDescription {
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
  }
  
  .ctaButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #EB0A1E;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ctaButton:hover {
    background-color: #2B2B2B;
  }
  