.categoriesSection {
  padding: 60px;
  background-color: #F4F4F4; 
  font-family: Helvetica;
}

.sectionTitle {
  font-size: 40px;
  text-align: center;
  color: #2B2B2B;
  margin-bottom: 40px;
}

.categoriesGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  justify-items: center;
}

.categoryCard {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 30px;
  width: 70%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoryCard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.categoryImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}

.categoryCard h3 {
  font-size: 26px;
  margin-top: 20px;
  color: #EB0A1E;
}

/* Media Queries */

/* For tablets and smaller laptops */
@media (max-width: 1024px) {
  .categoriesSection {
    padding: 50px;
  }

  .sectionTitle {
    font-size: 36px;
  }

  .categoriesGrid {
    grid-template-columns: 1fr;
  }

  .categoryCard {
    width: 80%;
  }

  .categoryCard h3 {
    font-size: 24px;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .categoriesSection {
    padding: 40px;
  }

  .sectionTitle {
    font-size: 32px;
  }

  .categoryCard {
    padding: 25px;
    width: 90%;
  }

  .categoryImage {
    height: auto;
  }

  .categoryCard h3 {
    font-size: 22px;
  }
}

/* For extra-small devices */
@media (max-width: 480px) {
  .categoriesSection {
    padding: 30px;
  }

  .sectionTitle {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .categoryCard {
    padding: 10px;
    width: 100%;
  }

  .categoryImage {
    height: auto;
  }

  .categoryCard h3 {
    font-size: 20px;
  }
}
