.header {
  position: sticky;
  top: 0;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #2B2B2B;
  align-items: center;
  z-index: 1000;
  width: "full"; 
  height: 60px;
  font-family: Helvetica;
}

.nav {
  list-style-type: none;
  display: flex;
}

.navItem {
  margin: 0 15px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.5s ease;
}

.navLink:hover {
  color: #EB0A1E;
}
