.heroBanner {
  background-image: url("/images/hero/HeroBooking4.jpg"); /* Replace with your image in the public/images folder */
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.heroContent {
  margin-bottom: 50px;
  font-family: Helvetica;
}
.heroTitle {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}
.heroDescription {
  font-size: 20px;  
  margin-bottom: 30px;
}
/* Large Desktop Screens */

/* Medium to Large Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .heroBanner {
    height: 65vh;
  }
  .heroTitle {
    font-size: 52px;
  }
  .heroDescription {
    font-size: 22px;
  }
}

/* Tablets and Medium Screens */
@media (min-width: 768px) and (max-width: 991px) {
  .heroBanner {
    height: 55vh;
  }
  .heroContent{
    text-align: center;
  }
  .heroTitle {
    font-size: 28px;
  }
  .heroDescription {
    font-size: 18px;
  }
}

/* Small Tablets and Large Mobile Devices */
@media (min-width: 576px) and (max-width: 767px) {
  .heroBanner {
    height: 50vh;
  }
  .heroContent{
    text-align: center;
  }
  .heroTitle {
    font-size: 36px;
  }
  .heroDescription {
    font-size: 18px;
  }
}

/* Small Mobile Devices */
@media (max-width: 575px) {
  .heroBanner {
    height: 45vh;
    padding: 15px;
  }
  .heroTitle {
    font-size: 28px;
  }
  .heroDescription {
    font-size: 16px;
  }
}

/* Very Small Mobile Devices */
@media (max-width: 320px) {
  .heroBanner {
    height: 40vh;
    padding: 10px;
  }
  .heroTitle {
    font-size: 24px;
  }
  .heroDescription {
    font-size: 14px;
  }
}