.heroBanner {
    background-image: url('/images/hero/HeroSUV2.jpg'); /* Replace with your image in the public/images folder */
    background-size: cover;
    background-position: center;
    height: 60vh;
  }
  

  .heroTitle {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color:#2B2B2B;
    font-family: Helvetica;
  }
  
  .heroDescription {
    font-size: 20px;
    margin-bottom: 60px;
    color:#2B2B2B;
    font-family: Helvetica;
  }
