.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  height: 130px;
  width: 100%;
  text-align: center;
  background-color: #eb0a1e;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: Helvetica;
}

.testimonialsSection {
  padding: 50px;
  background-color: #f7f7f7;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  font-family: Helvetica;
}

.qoute {
  color: #eb0a1e;
  font-family: Helvetica;
}

.testimonialCard {
  background-color: #f7f7f7;
  color: #2b2b2b;
  border-radius: 10px;
  box-shadow: 0 4px 8px #eb0a1e;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px 40px;
  font-family: Helvetica;
}

.testimonialText {
  font-size: 18px;
  font-style: italic;
}

.customerName {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #eb0a1e; 
}

/* Media Queries */

/* For tablets and smaller screens */
@media (max-width: 1024px) {
  .Title {
    font-size: 26px;
    height: 120px;
  }

  .testimonialsSection {
    padding: 30px;
    grid-template-columns: 1fr;
  }

  .testimonialCard {
    padding: 20px;
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .Title {
    font-size: 22px;
    height: 100px;
    padding:  40px 10px;
  }

  .testimonialsSection {
    padding: 20px;
  }

  .testimonialCard {
    padding: 15px;
  }

  .testimonialText {
    font-size: 14px;
  }

  .customerName {
    font-size: 16px;
  }
}
